/* Write your CSS here */
.li2 {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img2 {
  height: 150px;
  width: 150px;
}
